.result-table {
  border-collapse: collapse;
}
.result-table thead {
  background-color: var(--bg-400);
}
.result-table thead td {
  padding: 0.25rem 1rem;
  color: var(--fg-100);
  border-radius: var(--b-rad) 0 0 0;
  font-size: 0.9rem;
  text-align: center;
}
.result-table td {
  padding: 0.5rem 1rem;
  color: var(--fg-300);
  border: 1px solid var(--bg-600);
  font-size: 0.75rem;
  font-family: monospace;
}
.result-table tbody tr:nth-child(even) {
  background-color: hsl(8, 28%, 12.5%);
}
.result-answer {
  margin: 0;
}
.real-answer {
  color: #fa8072;
  font-family: monospace;
}
.graph-wrapper {
  flex-grow: 1;
  align-items: center;
}
#method-graph {
  width: 100%;
  height: 100%;
  min-width: 0;
}
.result-table .katex-display {
  margin: 0
}
.result-table tbody td:not(.empty){
  font-family: monospace;
  font-size: 0.95rem;
}